* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url(img/photo1.png);
  background-position-y: 80%;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
  margin-top: 30px;
}
.text-box p {
  margin: 10px o 40px; /*  top left right botomm */
  font-size: 14px;
  color: white;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  margin: 25px;
  color: white;
  border: 1px solid #fff;
  padding: 8px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solidwhite;
  background: white;
  color: #000000;
  transition: 0.8s;
}
.hero-btn-red {
  display: inline-block;
  text-decoration: none;
  margin: 25px;
  color: rgb(238, 66, 60);
  border: 1px solid rgb(238, 66, 60);
  padding: 8px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn-red:hover {
  border: 1px solidrgb(238, 66, 60);
  background: rgb(238, 66, 60);
  transition: 0.8s;
  color: white;
}
nav .fa {
  display: none;
}

/* EDU section */
.edu {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.edu-edu {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.edu-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  animation: 00.5s;
  color: #000000;
}
.edu-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.edu-col:hover {
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}

/* Skills */
.skills {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.skills-col {
  flex-basis: 20%;
  border-radius: 10px;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;
}
.skills-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(80, 80, 80, 0.4);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* project */
.project {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.project-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin: 0 10px;
  text-align: left;
  color: #000000;
}
.project-col img {
  width: 100%;
  border-radius: 10px;
}
.project-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.project-col p {
  padding: 0;
}

/* Follow Section */
.follow {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}
.follow-col {
  flex-basis: 15%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
  background-color: #343a40;
  color: white;
  padding: 25px;
  padding-bottom: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow-col img {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background: white;
}
.follow-col h3 {
  padding: 5%;
}
.follow-col h4 {
  font-size: 10px;
  padding: 5%;
  padding-top: 0;
  font-weight: 300;
}
.follow-btn {
  display: inline-block;
  text-decoration: none;
  margin: 25px;
  color: white;
  border: 1px solid #fff;
  padding: 8px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.follow-btn:hover {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  color: black;
  transition: 0.8s;
}
/* Call To Action */
.cta {
  margin: 100px auto;
  width: 70%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/contactus.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 40px 0px;
}
.cta h1 {
  color: white;
  margin-bottom: 20px;
  padding: 0;
}
.cta-btn {
  display: inline-block;
  text-decoration: none;
  margin: 25px;
  color: white;
  border: 1px solid #fff;
  padding: 8px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.cta-btn:hover {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  color: black;
  transition: 0.8s;
}
/* Comment  boxx */
.comment-box {
  border: 1px solid #ccc;
  margin: 50px auto;
  padding: 10px 20px;
  width: 60%;
}
.comment-box h3 {
  text-align: left;
}
.comment-box input,
.comment-box textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}
.comment-form button {
  text-align: left;
  margin: 10px 0;
}
/* Footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: rgb(231, 231, 231);
}
.footer h5 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
/* footer icons */
.icons .fa {
  color: #000000;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px o;
}
.fa-hert-o {
  color: #000000;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px o;
}
/* media query ------------------------------------------------------------------------------*/

@media (max-width: 700px) {
  .header {
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
      url(img/photo1.png);
    background-position: bottom;
    background-size: cover;
    position: relative;
  }
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    margin: 10px o 40px; /*  top left right botomm */
    font-size: 4px;
    color: white;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background-color: rgb(238, 66, 60);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .row {
    flex-direction: column;
  }
  .follow {
    width: 60%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
  }
  .skills {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  .cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(img/contactus.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
  }
  .cta h1 {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0;
  }
  .cta-btn {
    display: inline-block;
    text-decoration: none;
    margin: 25px;
    color: white;
    border: 1px solid #fff;
    padding: 4px 16px;
    font-size: 8px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .cta-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: black;
    transition: 0.8s;
  }
  .project-col {
    flex-basis: 44%;
    padding: -30px 2px;
  }
  .project-col img {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  .project-col h1 {
    padding-top: 0;
    font-size: 20px;
  }
  .project-col p {
    padding: 15px 0 25px;
    font-size: 10px;
  }
  .project-col a {
    flex-basis: 30%;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .red-btn {
    border: 1px solid rgb(238, 66, 60);
    background: transparent;
    color: rgb(238, 66, 60);
    border-radius: 4px;
    margin-left: 5px;
    font-size: 10px;
    padding: 2px 5px;
  }
  .sub-menu-1 ul li {
    text-decoration: none;
    color: black;
    border: solid #ff9696;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
  }
  .footer p {
    font-size: 8px;
  }
  .project-project-col img {
    width: 90%;
    border-radius: 10px;
    display: none;
  }
  .project-project-col {
    width: 90%;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 0 10px;
    text-align: left;
  }
  .project-col a {
    margin: 3px;
    size-adjust: 10%;
    padding: 0 6px;
    font-size: 12px;
  }
  .sub-header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(img/bannnerproject.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
  }
  .sub-header h1 {
    margin-top: 60px;
    font: 15px;
  }
  .sub-header p {
    font-size: 10px;
  }
}

/* Project Page ------------------------------------------------------------------------------- */
.sub-header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/bannnerproject.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.sub-header h1 {
  margin-top: 60px;
}

.project-project-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin: 0 10px;
  text-align: left;
}
.project-project-col img {
  width: 50%;
  border-radius: 10px;
}
.project-project-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.project-project-col p {
  padding: 0;
}
.project-row {
  margin-bottom: 100px;
}
/* Education Page ----------------------------------------------------------------------------------------- */

.blog-right {
  flex-basis: 32%;
}
.blog-right h3 {
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  border-radius: 4px;
}
.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}
/* Contact us page ------------------------------------------------------------------- */
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 20px;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* more page ---------------------------------------------------------------------------------------------------------------- */

.more {
  width: 100%;
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin: 100px 0px;
  text-align: center;
  color: #000000;
}
.more h1 {
  margin-top: 100px;
}


#include<stdio.h>
#include <string.h>
int rear=-1;
int front =-1;
char queue [50][10];
void insertion(char * str)
{
rear=rear+1;
strcpy(queue[rear],str);
if(front==-1)
{
front =0;
}
}
void deletion()
{
if (front==rear)
{
front =rear =-1;
}
else
{
front++;
}
}
void generate(int n)
{
char t1[10],t2[10];
insertion("1");
int i=1;
for(i=1;i<=n;i++)
{
strcpy(t1,queue[front]);
strcat(t1,"0");
insertion(t1);
strcpy(t2,queue[front]);
strcat(t2,"1");
insertion(t2);
printf("%s\t",queue[front]);
deletion();
}
}
int main()
{
int n;
printf("Enter the number :");
scanf("%d",&n);
generate (n);
return 0;
}